#infoimg {
    width: 100% !important;
}

.img-slider {
    width: 600px !important;
}

#background {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

#transblack {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: -2;
}

#bg-model-viewer {
    width: 100%;
    height: 100%;
    z-index: -3;
    cursor: default;
    /* transform: scale(2); */
}

#map {
    width: 80%;
    height: 500px;
}

.Hotspot {
    --min-hotspot-opacity: 1 !important;
}

.HotspotAnnotation {
    display: inline !important;
    margin: 0 auto !important;
    text-align: center !important;
    vertical-align: middle !important;
}

/* 핫스팟 버튼 */
.btn-5 {
    width: 90px !important;
    height: 30px !important;
    color: #fff !important;
    background: #708090 !important;
    font-size: 11.5px !important;
    font-weight: 1000 !important;
    border: none !important;
    border-radius: 20px !important;
    box-shadow: 0 4px 16px rgba(0, 79, 255, 0.3) !important;
}

.btn-5:focus {
    outline: 0;
}

.btn-5:hover {
    background: #5D6D7E;
    cursor: pointer;
    box-shadow: #696969;
}